.nav-menu {
  margin: 0 auto;
}

.nav-menu__list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.nav-menu__link {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0;
  font-weight: 500;

  color: rgba(15, 15, 16, 0.5);
}

.nav-menu__link--active {
  display: flex;
  justify-content: center;
  align-items: center;

  color: #000000;
}

.nav-menu__link--active::after {
  content: "";
  margin-left: 8px;
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #4263eb;
}

.nav-menu__link--about-me {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-menu__link--about-me:hover {
  color: #4263eb;
}

.nav-menu__link--about-me::before {
  content: "";
  margin-right: 4px;
  background-image: url("../../../app/assets/nav-menu/user-circle.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  width: 24px;
  height: 24px;
}
